@import "tailwindcss";

:root {
  --bg: #020617;
  --card: #0f172a;
  --cyan: #22d3ee;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: white;
  overflow-x: hidden;
}

body {
  background:
    radial-gradient(
      circle at top right,
      rgba(34, 211, 238, 0.15),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(59, 130, 246, 0.15),
      transparent 40%
    ),
    #020617;
}

.hero-glow {
  position: absolute;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.hero-glow::before {
  content: "";
  position: absolute;

  width: 700px;
  height: 700px;

  border-radius: 50%;

  background: rgba(34, 211, 238, 0.12);

  filter: blur(140px);

  top: -250px;
  left: -200px;
}

.hero-glow::after {
  content: "";

  position: absolute;

  width: 600px;
  height: 600px;

  border-radius: 50%;

  background: rgba(59, 130, 246, 0.12);

  filter: blur(140px);

  bottom: -200px;
  right: -150px;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: float 6s ease-in-out infinite;
}
